body{
    background-color: rgb(218, 218, 218);
}
.listitem{
    background-color: white;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
}
.header{
    background-color: lightslategrey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    font-weight: 600;
    height: 50px
}
.custom-modal-header{
    background-color: lightslategrey;
    color: white;
}
.info-modal-body input{
    width: 350px;
    height: 35px;
}

.modal-footer-custom button{
    width: 100px;
    height: 35px;
}
.confirmBtn{
    background-color: lightslategrey;
    color: white;
}

.cancelBtn{
    background-color: white;
    color: grey;
}

a{
    color: blue;
}

.link{
    color: blue !important;
    cursor: pointer;
}

.datePicker{
    width: 350px;
    height: 35px;
}

.sideBar{
    height: 100vh;
    background-color: lightslategrey;
}
.sideBar-item{
    width: 100%;
    height: 100px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid wheat;
    cursor: pointer;
    color: white;
}

.dashboardActive, .sectorsActive{
    background-color: rgb(72, 89, 105);
}

.addBtnGreen{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-image: url('./assets/images/icon-w-add.svg');
    background-color: limegreen;
    cursor: pointer;
}

.fetchSummary{
    height: 35px;
    width: 100px;
}

.ul{
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.topbar{
    height: 70px;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: lightslategray;
    margin: 0px;
    color: white;
}

.sidebar-item-empty{
    height: 70px !important;
}